.inputLabel{
    color: white;
}
.inputContainer{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    gap:0.5rem;
}
.inputField{
    border-radius: 1rem;
    background: #1E1E1E;
    border: 0;
    padding: 1rem;
    color: white;
    }

.error{
    color:red;
}