.navbar{
    padding: 1rem 2.5rem;
    background-color: #131313;
    display: flex;
    justify-content: space-between;

}
.searchUser{
    display: flex;
    flex-direction: row;
    align-items: center;
}