.searchContainer{
    position: relative;
}
.searchIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left:5%; 
    color: #1d1d1d;
}
.searchInput{
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1rem;
    border: 0;
}